<div id="container">

<form [formGroup]="inlogFormulier" (ngSubmit)="logIn()" id="login">
  <div class="header">
    <h3>Gebruiker login</h3>
    <p>Log in voor de volledige functionaliteit!</p>
  </div>
  <div class="lijn"></div>
  <div class="input">
  <div>
  <input type="text" id="inputEmail" class="form-control" formControlName="email" placeholder="Email">
  <div *ngIf="inlogFormulier.get('email').invalid &&
        inlogFormulier.get('email').touched" class="star">*
  </div>
  <div *ngIf="inlogFormulier.get('email').invalid &&
        inlogFormulier.get('email').dirty">Dit is een verplicht veld!
  </div>
  </div>
  <div>
    <input type="password" id="inputWachtwoord" class="form-control" formControlName="wachtwoord" placeholder="Wachtwoord">
    <div *ngIf="inlogFormulier.get('wachtwoord').invalid &&
        inlogFormulier.get('wachtwoord').touched" class="star">*
    </div>
    <div *ngIf="inlogFormulier.get('wachtwoord').invalid &&
        inlogFormulier.get('wachtwoord').dirty">Dit is een verplicht veld!
    </div>
    <br>
  </div>
  <button [disabled]="inlogFormulier.invalid" id="submit">Log in!</button>
    <button id="accountAanmaken" routerLink="/registreren">Nog geen account?</button>
    </div>
</form>
</div>
