<div (click)="ingelogdCheck()" (mousemove)="ingelogdCheck()">
<ul>
  <ng-container *ngIf="!activeUser">
  <li><a routerLink="/login" routerLinkActive="activeMenu">Inloggen</a></li>
  <li><a routerLink="/registreren" routerLinkActive="activeMenu">Registreer</a></li>
  </ng-container>
  <li><a routerLink="/advertenties" routerLinkActive="activeMenu">Geplaatste advertenties</a></li>
  <ng-container *ngIf="activeUser">
  <li><a routerLink="/aanmakenadvertentie" routerLinkActive="activeMenu">Creeër advertentie</a></li>
  </ng-container>
</ul>
  <div class="banner">Mooi logo todo</div>
<router-outlet></router-outlet>
</div>



