<div (click)="ingelogdCheck()" (mousemove)="ingelogdCheck()">
  <div id="logo">Marktbay</div>
  <ul id="menu">
  <ng-container *ngIf="!activeUser">
  <li><a routerLink="/login" routerLinkActive="activeMenu"><span>Inloggen</span></a></li>
  <li><a routerLink="/registreren" routerLinkActive="activeMenu">Registreer</a></li>
  </ng-container>
  <li><a routerLink="/advertenties" routerLinkActive="activeMenu">Geplaatste advertenties</a></li>
  <ng-container *ngIf="activeUser">
  <li><a routerLink="/aanmakenadvertentie" routerLinkActive="activeMenu">Creeër advertentie</a></li>
  <li><a routerLink="/mijnadvertenties" routerLinkActive="activeMenu">Mijn advertenties</a></li>
  <li><a routerLink="/mijngegevens" routerLinkActive="activeMenu">Aanpassen mijn info</a></li>
    <li (click)="logUit()"><a class="uitloggen">Log uit</a></li>
  </ng-container>
</ul>

<router-outlet></router-outlet>
</div>



